<div id="new">

    <form method="post" action="<%=cats_path%>" class="new-cat-component">
        <div class="new-cat-component__row">
            <label>Picture</label>
            <%=image_tag("photo-camera.png", class: "pic", id: "gen-cat-pic")%>
            <input type="hidden" name="cat[img_id]" id="imgIdField" value="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </div>
        <div class="new-cat-component__row">
            <label for="name">Name</label>
            <input id="name" type="text" name="cat[name]">
        </div>
        <div class="new-cat-component__row">
            <label for="gender">Gender</label>
            <input id="gender" type="text" name="cat[gender]">
        </div>

        <div class="new-cat-component__row">
            <label for="color">Color</label>
            <input id="color" type="text" name="cat[color]">
        </div>

        <div class="new-cat-component__row">
            <label for="suburb">Suburb</label>
            <input id="suburb" type="text" name="cat[location]">
        </div>

        <div class="new-cat-component__row">
            <input id="submit" type="submit" name="submit">
        </div>
    </form>

    <%=link_to( "Back to home", cats_path, class: "back-button")%>

    <script>
        imgElement = document.getElementById("gen-cat-pic")
        imgElement.addEventListener("click", function(){
            imgId = Math.floor(Math.random() * 10000000000)
            imgUrl = `https://robohash.org/${imgId}?set=set4`;
            this.src = imgUrl;
            document.getElementById("imgIdField").value = imgId
            this.classList.remove("pic--empty");
        });
    </script>

</div>